force-app/main/default/flows/Create_Project.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>addHoursQuantity</name>
        <label>addHoursQuantity</label>
        <locationX>264</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>totalHoursQuanitity</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ForEachOpportunityLineItems.Quantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addProjectItems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addProjectItems</name>
        <label>addProjectItems</label>
        <locationX>264</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>projectItem.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ForEachOpportunityLineItems.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>projectItem.Rol__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ForEachOpportunityLineItems.Roles__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>projectItem.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateNewProject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>projectItem.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ForEachOpportunityLineItems.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addToList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addToList</name>
        <label>addToList</label>
        <locationX>264</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>projectItemList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>projectItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ForEachOpportunityLineItems</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Create Project {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Project</label>
    <loops>
        <name>ForEachOpportunityLineItems</name>
        <label>ForEachOpportunityLineItems</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <collectionReference>GetOpportunityLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>addHoursQuantity</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>createProjectItemCollection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateNewProject</name>
        <label>CreateNewProject</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>ForEachOpportunityLineItems</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>$Record.Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client__c</field>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Closed_Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HoursQuantity__c</field>
            <value>
                <elementReference>$Record.TotalQuantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Project_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PM__c</field>
            <value>
                <elementReference>$Record__Prior.Project_Manager__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_End__c</field>
            <value>
                <elementReference>$Record.EndDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Start__c</field>
            <value>
                <elementReference>$Record.Start_date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <stringValue>Pre-kickoff</stringValue>
            </value>
        </inputAssignments>
        <object>Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>createProjectItemCollection</name>
        <label>createProjectItemCollection</label>
        <locationX>176</locationX>
        <locationY>1151</locationY>
        <inputReference>projectItemList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetOpportunityLineItems</name>
        <label>GetOpportunityLineItems</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateNewProject</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetOpportunityLineItems</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>projectItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProjectItem__c</objectType>
    </variables>
    <variables>
        <name>projectItemList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProjectItem__c</objectType>
    </variables>
    <variables>
        <name>totalHoursQuanitity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
