force-app/main/default/flows/Flow_Holiday_and_Days_off_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>asigmmentVariables</name>
        <label>asigmmentVariables</label>
        <locationX>754</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>isNotWorkingAnyProject</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>holidayAndDayOff.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>holidayAndDayOff.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>End_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>holidayAndDayOff.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>holidayAndDayOff.Purpose__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Purpose</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>holidayAndDayOff.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forEachResourceProjects.Project__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>holidayAndDayOff.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>holidaysAndDaysOff</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>holidayAndDayOff</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>forEachResourceProjects</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>hasHolidayOrDaysOffDesicion</name>
        <label>hasHolidayOrDaysOffDesicion</label>
        <locationX>666</locationX>
        <locationY>1070</locationY>
        <defaultConnector>
            <targetReference>subflow_approval_process_request</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>hasNotHolidayOrDaysOffAutomatically</defaultConnectorLabel>
        <rules>
            <name>hasHolidayOrDaysOffAutomatically</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNotWorkingAnyProject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>subflow_create_holiday_and_day_off</targetReference>
            </connector>
            <label>hasHolidayOrDaysOffAutomatically</label>
        </rules>
    </decisions>
    <decisions>
        <name>isWorkingInAnyProjectDescision</name>
        <label>isWorkingInAnyProjectDescision</label>
        <locationX>886</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>forEachResourceProjects</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isWorkingInAnyProject</name>
            <conditionLogic>NOT ((1 AND 2) OR (3 AND 4))</conditionLogic>
            <conditions>
                <leftValueReference>forEachResourceProjects.Project__r.Project_Start__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Start_Date</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>forEachResourceProjects.Project__r.Project_Start__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>End_Date</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>forEachResourceProjects.Project__r.Project_End__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Start_Date</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>forEachResourceProjects.Project__r.Project_End__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>End_Date</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asigmmentVariables</targetReference>
            </connector>
            <label>isWorkingInAnyProject</label>
        </rules>
    </decisions>
    <decisions>
        <name>NotWorkingAnyResourceProjectDesicion</name>
        <label>NotWorkingAnyResourceProjectDesicion</label>
        <locationX>358</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>forEachResourceProjects</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>isWorkingAnyResourceProject</defaultConnectorLabel>
        <rules>
            <name>isNotWorkingAnyResourceProject</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getResourceProject</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_subflow_create_holiday_and_day_off</targetReference>
            </connector>
            <label>isNotWorkingAnyResourceProject</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>variablePurpose</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Purpose__c</picklistField>
        <picklistObject>holiday_and_day_off__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Flow Holiday and Days off Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow Holiday and Days off Request</label>
    <loops>
        <name>forEachResourceProjects</name>
        <label>forEachResourceProjects</label>
        <locationX>666</locationX>
        <locationY>518</locationY>
        <collectionReference>getResourceProject</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>isWorkingInAnyProjectDescision</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>hasHolidayOrDaysOffDesicion</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getResourceProject</name>
        <label>getResourceProject</label>
        <locationX>358</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NotWorkingAnyResourceProjectDesicion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ResourceProject__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Copy_1_of_showRequest</name>
        <label>Copy 1 of showRequest</label>
        <locationX>534</locationX>
        <locationY>1310</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_Copy_2_of_Copy_1_of_request</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Your request has been sent&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_showRequest</name>
        <label>Copy 2 of showRequest</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_2_of_Copy_2_of_Copy_1_of_request</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Your request has been sent&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Holiday_and_Days_off_Request</name>
        <label>Holiday and Days off Request</label>
        <locationX>358</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getResourceProject</targetReference>
        </connector>
        <fields>
            <name>header</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Holiday And Day Off Request&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>resource</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(129, 160, 218);&quot;&gt;Resource: {!$User.FirstName} {!$User.LastName}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Purpose</name>
            <choiceReferences>variablePurpose</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Purpose</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Holiday_and_Days_off_Request_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Holiday_and_Days_off_Request_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Start_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Start Date mus be greater than equal to today&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Start_Date} &gt;= Today()</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Holiday_and_Days_off_Request_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>End_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>End Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;End date must be greater than start date&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!End_Date} &gt; {!Start_Date}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Description</name>
            <dataType>String</dataType>
            <fieldText>Description</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Done</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>showRequest</name>
        <label>showRequest</label>
        <locationX>798</locationX>
        <locationY>1310</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_2_of_Copy_1_of_request</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Your request has been sent&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>232</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Holiday_and_Days_off_Request</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Copy_1_of_subflow_create_holiday_and_day_off</name>
        <label>Copy 1 of subflow create holiday and day off</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Copy_2_of_showRequest</targetReference>
        </connector>
        <flowName>subflow_create_holiday_and_day_off</flowName>
        <inputAssignments>
            <name>description</name>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>endDate</name>
            <value>
                <elementReference>End_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>projectId</name>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>purpose</name>
            <value>
                <elementReference>Purpose</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>startDate</name>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>status</name>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>subflow_approval_process_request</name>
        <label>subflow approval process request</label>
        <locationX>798</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>showRequest</targetReference>
        </connector>
        <flowName>subflow_approval_process_request</flowName>
        <inputAssignments>
            <name>holidaysAndDaysOff</name>
            <value>
                <elementReference>holidaysAndDaysOff</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>subflow_create_holiday_and_day_off</name>
        <label>subflow create holiday and day off</label>
        <locationX>534</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>Copy_1_of_showRequest</targetReference>
        </connector>
        <flowName>subflow_create_holiday_and_day_off</flowName>
        <inputAssignments>
            <name>description</name>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>endDate</name>
            <value>
                <elementReference>End_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>projectId</name>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>purpose</name>
            <value>
                <elementReference>Purpose</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>startDate</name>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>status</name>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>aprroversId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ResourceProject__c</objectType>
    </variables>
    <variables>
        <name>holidayAndDayOff</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>holiday_and_day_off__c</objectType>
    </variables>
    <variables>
        <name>holidaysAndDaysOff</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>holiday_and_day_off__c</objectType>
    </variables>
    <variables>
        <name>isNotWorkingAnyProject</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>managerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>squadLeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
