force-app/main/default/flows/Prueba_Flow_Schedule_Inicio_del_proyecto.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Alert_email_hour_asignment</name>
        <label>Alert email hour asignment</label>
        <locationX>314</locationX>
        <locationY>396</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Dear {!$Record.PM__r.Name}, the Project {!$Record.Name} should start on {!$Record.Project_Start__c} and the State should be &quot;In Progress&quot; but there are Resource hours pending to be assigned</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.PM__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Action needed on {!$Record.Name} Project</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Missed_Squad_Lead</name>
        <label>Missed Squad Lead</label>
        <locationX>578</locationX>
        <locationY>396</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Dear {!$Record.PM__r.Name}, the Project {!$Record.Name} should start on {!$Record.Project_Start__c} and the State should be &quot;In Progress&quot; but the Squad Lead hasn&apos;t been assigned</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.PM__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Action needed on {!$Record.Name} Project</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>The_project_Profit_is_negative</name>
        <label>The project Profit is negative</label>
        <locationX>842</locationX>
        <locationY>396</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Dear {!$Record.PM__r.Name}, the Project {!$Record.Name} should start on {!$Record.Project_Start__c} and the State should be &quot;In Progress&quot; but the Profit is negative.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.PM__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Action needed on {!$Record.Name} Project</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Star_Today</name>
        <label>Star Today?</label>
        <locationX>578</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Meets_the_conditions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Today</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Project_Start__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Assigned_Hours__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.HoursQuantity__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record.AmountProject__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Squad_Lead__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_state</targetReference>
            </connector>
            <label>Meets the conditions</label>
        </rules>
        <rules>
            <name>Need_to_complete_the_hours</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Today</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Project_Start__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Assigned_Hours__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record.HoursQuantity__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alert_email_hour_asignment</targetReference>
            </connector>
            <label>Need to complete the hours</label>
        </rules>
        <rules>
            <name>Missing_Squad_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Today</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Project_Start__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Squad_Lead__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Missed_Squad_Lead</targetReference>
            </connector>
            <label>Missing Squad Lead</label>
        </rules>
        <rules>
            <name>The_project_is_in_LOSS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Today</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Project_Start__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record.AmountProject__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>The_project_Profit_is_negative</targetReference>
            </connector>
            <label>The project is in LOSS</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Prueba Flow Schedule_Inicio del proyecto {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow Schedule Inicio del proyecto</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_state</name>
        <label>Update state</label>
        <locationX>50</locationX>
        <locationY>396</locationY>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <stringValue>En Progreso</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Star_Today</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>State__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre-kickoff</stringValue>
            </value>
        </filters>
        <object>Project__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-04-24</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
