force-app/main/default/flows/Quanity_per_Role.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Acumulando</name>
        <label>Acumulando</label>
        <locationX>402</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>AcumuladorLoop</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopAcumuladorHoras.Assigned_Hours__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>new_assigment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddArchitectFields</name>
        <label>AddArchitectFields</label>
        <locationX>578</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>GetProject.QuantityHourArchitect__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AcumuladorLoop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetProject.TotalAmountArquitec__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Amount_loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateProject</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddConsultantFields</name>
        <label>AddConsultantFields</label>
        <locationX>314</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>GetProject.QuantityHourConsult__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AcumuladorLoop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetProject.TotalAmountConsult__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Amount_loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateProject</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddDeveloperFields</name>
        <label>AddDeveloperFields</label>
        <locationX>50</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>GetProject.QuantityHourDeveloper__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AcumuladorLoop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetProject.TotalAmountDeveloper__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Amount_loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateProject</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>new_assigment</name>
        <label>new assigment amount</label>
        <locationX>402</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>Amount_loop</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Formula_Amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopAcumuladorHoras</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>RoleCondition</name>
        <label>RoleCondition</label>
        <locationX>314</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>AddArchitectFields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>IsArchitect</defaultConnectorLabel>
        <rules>
            <name>IsDeveloper</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Rol__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Developer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddDeveloperFields</targetReference>
            </connector>
            <label>IsDeveloper</label>
        </rules>
        <rules>
            <name>IsConsultant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Rol__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consultant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddConsultantFields</targetReference>
            </connector>
            <label>IsConsultant</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Formula_Amount</name>
        <dataType>Currency</dataType>
        <expression>{!LoopAcumuladorHoras.User__r.Rate_p_hour__c} *{!LoopAcumuladorHoras.Assigned_Hours__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TotalAmountArchitect</name>
        <dataType>Currency</dataType>
        <expression> {!GetProject.RatePerHour__c} * {!GetProject.QuantityHourArchitect__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TotalAmountConsultant</name>
        <dataType>Currency</dataType>
        <expression>{!GetProject.RatePerHourConsultant__c} * {!GetProject.QuantityHourConsult__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TotalAmountDeveloper</name>
        <dataType>Currency</dataType>
        <expression>{!GetProject.QuantityHourDeveloper__c} * {!GetProject.RatePerHourDeveloper__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Quanity per Role {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quanity per Role BER ARTUR</label>
    <loops>
        <name>LoopAcumuladorHoras</name>
        <label>LoopAcumuladorHoras</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <collectionReference>Get_Records_Loop</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Acumulando</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>RoleCondition</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Records_Loop</name>
        <label>Get Records Loop</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopAcumuladorHoras</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Rol__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Rol__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Project__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ResourceProject__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetProject</name>
        <label>GetProject</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Records_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Project__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateProject</name>
        <label>UpdateProject</label>
        <locationX>314</locationX>
        <locationY>1367</locationY>
        <inputReference>GetProject</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetProject</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Rol__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Consultant</stringValue>
            </value>
        </filters>
        <filters>
            <field>Rol__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Developer</stringValue>
            </value>
        </filters>
        <filters>
            <field>Rol__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Architect</stringValue>
            </value>
        </filters>
        <object>ResourceProject__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AcumuladorLoop</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Amount_loop</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
