force-app/main/default/flows/subflow_find_Resources_Is_Working_Any_Project.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>asigmmentVariables</name>
        <label>asigmmentVariables</label>
        <locationX>264</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>isWorkingAnyProject</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>holidayAndDayOff.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>startDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>holidayAndDayOff.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>endDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>holidayAndDayOff.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>holidayAndDayOff.Purpose__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>purpose</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>holidayAndDayOff.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>holidayAndDayOff.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forEachResourceProjects.Project__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>holidaysAndDaysOff</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>holidayAndDayOff</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>forEachResourceProjects</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>isWorkingInAnyProjectDescision</name>
        <label>isWorkingInAnyProjectDescision</label>
        <locationX>396</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>forEachResourceProjects</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>nothing</defaultConnectorLabel>
        <rules>
            <name>isWorkingInAnyProject</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>forEachResourceProjects.Start_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>startDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>forEachResourceProjects.Start_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>endDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>forEachResourceProjects.End_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>startDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>forEachResourceProjects.End_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>endDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asigmmentVariables</targetReference>
            </connector>
            <label>isWorkingInAnyProject</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>subflow find Resource Is Working Any Project {!$Flow.CurrentDateTime}</interviewLabel>
    <label>subflow find Resources Is Working Any Project</label>
    <loops>
        <name>forEachResourceProjects</name>
        <label>forEachResourceProjects</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <collectionReference>resourceProjects</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>isWorkingInAnyProjectDescision</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>forEachResourceProjects</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>endDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>holidayAndDayOff</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>holiday_and_day_off__c</objectType>
    </variables>
    <variables>
        <name>holidaysAndDaysOff</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>holiday_and_day_off__c</objectType>
    </variables>
    <variables>
        <name>isWorkingAnyProject</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>purpose</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>resourceProjects</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ResourceProject__c</objectType>
    </variables>
    <variables>
        <name>startDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
