force-app/main/default/flows/subflow_approval_process_request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>submitHolidayssAndDaysOff</name>
        <label>submitHolidayssAndDaysOff</label>
        <locationX>264</locationX>
        <locationY>398</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>forEachHolidayAndDayOff</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>holiday_and_day_off_request</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>forEachHolidayAndDayOff.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>subflow approval process request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>subflow approval process request</label>
    <loops>
        <name>forEachHolidayAndDayOff</name>
        <label>forEachHolidayAndDayOff</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>holidaysAndDaysOff</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>submitHolidayssAndDaysOff</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createHolidaysAndDaysOff</name>
        <label>createHolidaysAndDaysOff</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <connector>
            <targetReference>forEachHolidayAndDayOff</targetReference>
        </connector>
        <inputReference>holidaysAndDaysOff</inputReference>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>createHolidaysAndDaysOff</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>holidaysAndDaysOff</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>holiday_and_day_off__c</objectType>
    </variables>
</Flow>
